* {
    margin: 0PX AUTO ;
    box-sizing: content-box;
}

body{
    background-color: white;
}

.header{
    width: 100%;
    height: 0.5em;
    background-color: #124C8B;
    padding: 20px;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.5em;
}

.header_Logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center

}

.header_Logo>img{
    max-width: 100%;
    width: 10em;
    height: auto;
    margin-top: 0;
    
}

.carousel-inner{
    width:80%;
    max-height:80%;
}

@media only screen and (max-width: 600px) {
    .carousel-inner{
        width: 80%;
    }
    .carousel-inner .carousel-item img{
        width: 100%;    
        height: auto;
    }
}

.principal{
    padding: 0% 10% 0% 10%;
    margin-top: 0;
    background-color: #C6CCE4;
    
}
 

